doctype html
html
  head
    meta(charset='utf-8')
    title Address Book de Colors
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='css/colors.css')
  body
    h1 Libreta de direcciones de Colores (Address Book of Colores)
    nav
      ul
        li: a(href='/') Home
        li: a(href='/about') About
        li: a(href='/faq') FAQ
        li: a(href='/contact') Contact
        li: a(href='/people') People
    h2 People

    each person in people
      .person(style="background-color:#{person.color}")
        h3: a(href='person.website')= person.name
        .info(style="background-color:#{person.color}")
        ul
          li: a(href='mailto:'+person.email)= person.email
          li= person.phone
